//====================================================================================================
.page {
    // .page__main-slider
    &__main-slider {
    }
    // .page__advantages
    &__advantages {
    }
    // .page__products
    &__products {
    }
     // .page__rooms
    &__rooms {
    }
}
.main-slider {
    background: #FCF8F3;
    // .main-slider__container
    &__container {
        position: relative;
        @media (min-width:$tablet){
            &::before{
                content:'';
                background: #F9F1E7;
                position: absolute;
                top: 0;
                width: 100vw;
                right: rem(376);
                height: 100%;
            }
        }
    }

    // .main-slider__body
    &__body {
        padding: rem(140) 0px 0px 0px;
        position: relative;
        z-index: 2;
        @media (max-width:$tablet){
            padding: rem(80) 0px 0px 0px;
        }
        @media (max-width:$mobile){
            padding: rem(50) 0px 0px 0px; 
        }
        @media (min-width:$tablet){
            display: flex; 
        }

    }

    // .main-slider__content
    &__content {
        align-self: flex-start;
        flex: 0 0 percent(494,1240);
        @include adaptiveValue("margin-bottom",80,15);
        @media (max-width:$tablet){
            margin: 0 rem(-15);
        }
    }

    // .main-slider__slider
    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-end;
        @media (min-width:$tablet){
            padding: 0px 0px 0px rem(32);
        }
    }
}
.content-main-slider {
    position: relative;
    z-index: 5;
    padding-left: rem(15);
    padding-right: rem(15);
    @include adaptiveValue("padding-top",60,15);
    @include adaptiveValue("padding-bottom",60,15);
    background: rgba(255, 255, 255, 0.9);
    /* Если браузер поддреживает backdrop-filter*/
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
    }
    @media (min-width:$tablet){
        @include adaptiveValue("padding",60,1); 
    }
    // .content-main-slider__title
    &__title {
        @include adaptiveValue("font-size",56,24);
        line-height: math.div(67,56);
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: em(16,56);
        }
    }

    // .content-main-slider__text

    &__text {
        color: $grayColor;
        @include adaptiveValue("font-size",20,16);
        font-weight: 500;
        line-height: math.div(30,20);
        &:not(:last-child) {
            margin-bottom: em(48,20);
        }
    }

    // .content-main-slider__button
    &__button {
        @include adaptiveValue("min-height",78,45);
        @include adaptiveValue("font-size",20,16);
        font-weight: 600;
        background: $orangeColor;
        color: #fff;
        width: 100%;
        @media (any-hover: hover){
            &:hover{
                background: #ce743c;
            }
        }
    }
}
.slider-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width:$tablet){
        align-items: stretch;
        flex-direction: column-reverse;
    }
    // .slider-main__controls
    &__controls {
        margin: 0px 0px rem(20) 0px;
        align-self: stretch;
        @media (max-width:$tablet){
            margin: rem(10) 0px rem(20) 0px;
        }
    }

    // .slider-main__slider
    &__slider {
        &.swiper {
            overflow: visible;
        }
        @media (min-width:$tablet){
            @include adaptiveValue("width",934,290); 
        }
        @media (max-width:$tablet){
            margin: 0 rem(-15);
        }
    }

    // .slider-main__swiper
    &__swiper {

    }

    // .slider-main__slide
    &__slide {
        position: relative;
    }

    // .slider-main__image

    &__image {
        padding: 0px 0px 59.1% 0px;
    }

    // .slider-main__content

    &__content {
        min-width: rem(295);
        max-height: rem(300);
        overflow: auto;
        color: inherit;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.9);
        @include adaptiveValue("padding",24,15);
        @media (min-width:$mobile){
            position: absolute;
            min-width: rem(350);
            @include adaptiveValue("right",40,0);
            @include adaptiveValue("bottom",40,0);
        }
        /* Если браузер поддреживает backdrop-filter*/
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }
    }

    // .slider-main__title

    &__title {
        @include adaptiveValue("font-size",28,22);
        font-weight: 600;
        line-height: math.div(34,28);
        &:not(:last-child) {
            margin: 0px 0px em(4,28) 0px;
        }
    }

    // .slider-main__text

    &__text {
        color: $darkGrayColor;
        line-height: math.div(24,16);
        font-weight: 500;
        &:not(:last-child) {
            margin: 0px 0px em(8,16) 0px;
        }
    }

    // .slider-main__price

    &__price {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        line-height: math.div(30,20);
        @include adaptiveValue("font-size",20,16);
        &::before{
            margin: 0px 0px 0px rem(10);
            font-size: rem(13);
        }
    }
}
.controls-slider-main {
    display: flex;
    align-items: center;
    // .controls-slider-main__dotts
    &__dotts {
        flex: 1 1 auto;
        @media (min-width:$tablet){
            padding: 0px rem(20) 0px 0px;            
        }
        @media (max-width:$tablet){
            justify-content: center;
        }
    }
    // .controls-slider-main__arrows
    &__arrows {
        @media (max-width:$tablet){
            display: none; 
        }
    }
}


//====================================================================================================

.advantages {
    @include adaptiveValue("padding-top",88,30);
    @include adaptiveValue("padding-bottom",88,30);
    // .advantages__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .advantages__item
    &__item {
        display: grid;
        grid-template: auto auto / rem(86) 1fr;
        padding: rem(15) 0;
        @media (max-width:$tablet){
            min-width: rem(280);
        }
        @media (max-width:$mobile){
            grid-template: auto auto / auto 1fr;
        }
    }


    // .advantages__icon
    &__icon {
        grid-row: span 2;
        text-align: center;
        align-self: center;
        @media (max-width:$mobile){
            padding: 0px rem(15) 0px 0px; 
        }
    }

    // .advantages__title

    &__title {
        font-size: rem(18);
        line-height: math.div(27,18);
        font-weight: 600;
        margin: 0px 0px em(2,18) 0px;
    }

    // .advantages__text

    &__text {
        font-weight: 500;
        line-height: math.div(24,16);
        color: $grayColor;
    }
}

//====================================================================================================

.products {
    @include adaptiveValue("padding-bottom",44,30);
    // .products__container
    &__container {
    }

    // .products__title

    &__title {
        margin: 0px 0px em(32,40) 0px;
    }

    // .products__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(285), 1fr));
        gap: rem(32);
    }

    // .products__item
    &__item {
    }
    // .products__footer
    &__footer {
        padding: rem(32) 0px 0px 0px;
        text-align: center;
    }
    // .products__more
    &__more {
        border: rem(1) solid $orangeColor;
        max-width: rem(245);
        &._hold {
            opacity: 0.2;
            cursor: default;
        }
    }
}

.item-product {
    background: #F4F5F7;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (any-hover: hover){
        &:hover{
            .item-product__actions {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    // .item-product__labels
    &__labels {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("top",24,10);
        @include adaptiveValue("right",24,10);

    }

    // .item-product__label
    &__label {
        flex: 0 0 rem(48);
        width: rem(48);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 500;
        &:not(:last-child) {
            margin: 0 0 rem(10) 0;
        }
        // .item-product__label_sale
        &_sale {
            background: #E97171;
        }
        // .item-product__label_new
        &_new {
            background: #2EC1AC;
        }

    }

    // .item-product__image

    &__image {
        padding-bottom: percent(301,285);
        // .item-product__image_ibg
        &_ibg {
        }
    }

    // .item-product__body

    &__body {
        flex: 1 1 auto;
        padding: rem(16) rem(16) rem(30);
        display: flex;
        flex-direction: column;
    }

    // .item-product__content
    &__content {
        flex: 1 1 auto;

    }

    // .item-product__title

    &__title {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 600;
        line-height: math.div(29,24);
        margin-bottom: em(8,24);
    }

    // .item-product__text
    &__text {
        line-height: math.div(24,16);
        color: $grayColor;
        margin-bottom: em(8,16);
    }

    // .item-product__prices
    &__prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    // .item-product__price
    &__price {
        line-height: math.div(30,20);
        @include adaptiveValue("font-size",20,16);
        font-weight: 600;
        // .item-product__price_old
        &_old {
            font-weight: normal;
            @include adaptiveValue("font-size",16,14);
            margin: 0px 0px 0px rem(16);
            color: #B0B0B0;
            text-decoration: line-through;
        }
    }

    // .item-product__actions
    &__actions {
        @media (any-hover: none){
            padding: rem(15) 0px 0px 0px;
        }
        @media (any-hover: hover){
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(58, 58, 58, 0.72);
            z-index: 3;
            transition: all 0.3s ease 0s;
        }
    }
}
.actions-product {

    // .actions-product__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .actions-product__button
    &__button {
        flex: 1 1 100%;
        &:not(:last-child) {
            margin: 0 0 rem(24) 0;
        }
        &._hold {
            opacity: 0.2;
            cursor: default;
        }
    }

    // .actions-product__link
    &__link {
        display: flex;
        align-items: center;
        color: inherit;
        font-weight: 600;
        transition: color 0.3s ease 0s;
        &::before{
            margin: 0px rem(10) 0px 0px;
            font-size: rem(16);
        }
        @media (any-hover: hover){
            color: #fff;
            &:hover{
                color: $orangeColor;
            }
        }
    }
}
//====================================================================================================

.rooms {
    background: #FCF8F3;
    @include adaptiveValue("padding-top",44,30);
    @include adaptiveValue("padding-bottom",44,30);
    // .rooms__container
    &__container {
        @media (min-width:$tablet){
            display: flex;
        }
    }

    // .rooms__body
    &__body {
        flex: 0 0 percent(465,1200);
        position: relative;
        z-index: 5;
        align-self: center;
        @media (min-width:$tablet){
            @include adaptiveValue("padding-right",80,30);
        }
        @media (max-width:$tablet){
            margin: 0px 0px rem(30) 0px;
        }
    }

    // .rooms__title
    &__title {
        text-align: left;
        &:not(:last-child) {
            margin-bottom: em(8,40);
        }
    }

    // .rooms__text
    &__text {
        font-weight: 500;
        line-height: math.div(24,16);
        color: $darkGrayColor;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .rooms__button
    &__button {
        background: $orangeColor;
        color: #fff;
        min-width: rem(180);
        @media (any-hover: hover){
            &:hover{
                background-color: #e2884f;
            }
        }
    }

    // .rooms__slider
    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-start;
        @media (max-width:$mobileSmall){
            margin: 0 rem(-15); 
        }
    }
}

.slider-rooms {

    // .slider-rooms__slider

    &__slider {
        &::before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100vw;
            background: #FCF8F3;
            z-index: 2;
            transform: translate(-100%, 0);
        }
        &.swiper {
            overflow: visible;
            position: relative;
        }
    }

    // .slider-rooms__swiper

    &__swiper {
    }

    // .slider-rooms__slide

    &__slide {
        width: rem(372);
        position: relative;
        overflow: hidden;
        @include adaptiveValue("height",585,400);
        &.swiper-slide-active {
            .slider-rooms__image-ibg {
                height: 100%;
            }
        }
        @media (max-width:$mobileSmall){
            width: 100%;
        }
    }

    // .slider-rooms__image-ibg
    &__image-ibg {
        transition: height 0.8s ease 0s;
        height: 100%;
        @media (min-width:$mobile){
            height: 83%;
        }
    }

    // .slider-rooms__content
    &__content {
        position: absolute;
        color: inherit;
        max-width: rem(240);
        @include adaptiveValue("left",24,15);
        @include adaptiveValue("bottom",24,15);
        @include adaptiveValue("padding",32,15);
        background: rgba(255, 255, 255, 0.9);
        /* Если браузер поддреживает backdrop-filter*/
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }
        &::before{
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(100%,0);
            width: rem(48);
            height: rem(48);
            background-color: $orangeColor;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // .slider-rooms__label

    &__label {
    }

    // .slider-rooms__title

    &__title {
        color: $mainColor;
        @include adaptiveValue("font-size",28,24);
        line-height: math.div(34,28);
        font-weight: 600;
    }

    // .slider-rooms__arrows
    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        width: calc(100% - rem(48));
        left: rem(24);
        z-index: 5;
        justify-content: space-between;
        @media (min-width:$pc){
            width: calc(100% + rem(48));
            left: rem(-24);
        }
    }

    // .slider-rooms__dotts

    &__dotts {
        @media (min-width:$mobile){
            position: absolute;
            bottom: rem(30);
            width: 100%;
            left: rem(396);
        }
        @media (max-width:$mobile){
            justify-content: center;
            padding: rem(15) 0px 0px 0px; 
        }

    }
}

.label-slider {
    display: grid;
    grid-template-columns: auto rem(27) auto;
    gap: rem(8);
    align-items: center;
    justify-content: start;
    &:not(:last-child) {
        margin-bottom: rem(8);
    }
    color: $darkGrayColor;
    // .label-slider__number
    &__number {
    }
    // .label-slider__line
    &__line {
        height: rem(1);
        background-color: $darkGrayColor;
    }
    // .label-slider__text
    &__text {
    }
}

.slider-arrow {

    // .slider-arrow_white

    &_white {
    }

    // .slider-arrow_prev

    &_prev {
    }

    // .slider-arrow_next

    &_next {
    }
}

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================
